@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.6rem;
  overflow: hidden;
}
html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}
main {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: 'Quicksand', sans-serif;
}

.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: $secondary;
}

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-danger {
  background-color: $danger;
}
.bg-warning {
  background-color: $warning;
}
.bg-success {
  background-color: $success;
}

.text-light {
  color: $lighter;
}
.text-dark {
  color: $darker;
}

.no__clickeable {
  pointer-events: none;
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
